
<ion-content>
  <div class="login">

    <div>

      <ion-card-header class="flex-center">
        <ion-card-title color = "Light">SmartPet</ion-card-title>
      </ion-card-header>

    </div>

    <div class="flex-center">

      <ion-card-content>

          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>


          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password"></ion-input>


        <ion-button color="dark" fill="clear" size="full">Esqueci minha senha ou Email</ion-button>

          <ion-button size="full" class="ion-button"> Logar </ion-button>

      </ion-card-content>

    </div>

  </div>
</ion-content>
